@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  align-items: center;
  margin-right: 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 13px;
  font-family: var(--font-roboto);
}

.Subtitle {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-text);
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  color: var(--color-text-secondary);
}
