:root{
    --color-text: #000000;
    --color-text-secondary: #000000;
    --color-primary: #ffffff;
    --color-secondary:  #1a3571;
    --color-dark: #000000;
    --color-bg: #22499c;
    --font-robot: "Roboto";
    --color-red: #ff0000;

}